body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.todo-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delete-button {
  background-color: #ff4c4c;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
